.idea/
.vscode/
*.iml
*.project
*.classpath
nbproject/private/
nbproject/project.properties
nbproject/build-impl.xml
build/
dist/
out/
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.DS_Store
*.orig


*.log
logs/


.DS_Store
Thumbs.db


vendor/
composer.lock
.env
node_modules/


*.bak
*.swp